// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image{
  top:0;
  left:0;
  right:0;
  bottom:0;
  height: 700px;
  position:relative;
}

.logo-image {
    position: relative;
    display: flex;
    align-content: left;
    padding-right: 700px; 
}




//SPLASH SECTION

body{
    // background-image: url('https://wallpaperstock.net/san-francisco-wallpapers_2781_1152.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;

}


//-------------------------------------------------------
//LOGIN SECTION

 .greeting-nav {
     display: flex;
     justify-content: space-between;
     border: 1px solid blue;
     width: 100%;
     height: 100%;
 }

 .login-signup-in-bar {
     display: flex;
     justify-content: space-between;
     padding: 10px;
     padding-right: 10px;
 }

 .nav-log-in-link {
     display: flex;
     justify-content: space-between;
     padding: 10px;
     padding-right: 30px;
 }

 .nav-sign-up-link {
     display: flex;
     justify-content: space-between;
     padding: 10px;
     padding-right: 20px;
 }

 .login-form-container {
   display: flex;
   justify-content: center;
   background: white; 
 }

 .login-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 500px;
    height: 500px;
    border: 1px solid blue;
    // margin-left: 300px;
    // margin-right: 300px;
    // background-color: aliceblue;

 }

 .login-form {
    //  padding-bottom: 500px;
 }

 .login-welcome{
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-style: bold;
    font-weight: normal;
    color: #525558;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
 }

  .login-input{
    border: 1px solid #71767a;
    height: 20px;
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
    // margin-left: 20px;
 }

 .login-username-label {
    font-size: 18px;
    font-style: bold;
    font-weight: normal;
    color: #525558;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
 }
 .login-password-label {
     font-size: 18px;
    font-style: bold;
    font-weight: normal;
    color: #525558;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
 }

//  .message{
//      padding-top: 10px;
//      padding-right: 50px;

//  }

 .overall-form{
     border: 1px solid red;
     width: 60%;
     height: 97%;

 }

 .login-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #34bf49;
    border-color: #34bf49;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    color: white;
 }

 .guest-login-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #3b5998;
    border-color: #3b5998;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    color: white;

 }





//SIGNUP SECTION
 //-------------------------------------------------------------------------------------------------------
//SIGNUP SECTION
   .signup-form-container {
//    display: flex;
//    justify-content: center;
//    margin-top: 100px;
    display: -webkit-inline-flex;
    justify-content: center;
//    margin-top: 100px;
//    margin-right: 100px;
    background: white; 
   /* background-image: url("http://www.lovethispic.com/uploaded_images/spring_green_scenery.jpg"); */
 }