// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//-------------------------------------------------------

//LOGIN SECTION

 .login-form-container {
     display: flex;
     height: 700px;
     width: 100%;
    display: flex;
    justify-content: center;
    background: #f5f6f7; 
 }

 .login-page-top-div{
     display: flex; 
     justify-content: flex-end;
     width: 100%;
     height: 15%;
 }

 .login-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 500px;
    height: 500px;
 }

 .login-welcome{
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-style: bold;
    font-weight: normal;
    color: #525558;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
 }

  .login-input{
    border: 1px solid #e2e8ed;
    border-radius: 5px;
    height: 25px;
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
    width: 76.5%;
    margin-left: 35px;
 }

 .login-username-label {
    font-size: 15px;
    font-style: bold;
    font-weight: normal;
    color: #767879f0;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    width: 80%;
    margin-left: 35px;
 }
 .login-password-label {
    font-size: 15px;
    font-style: bold;
    font-weight: normal;
    color: #767879f0;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    width: 80%;
    margin-left: 35px;
 }

 .no-account-div {
     display: flex;
     justify-content: center;
 }

 .no-account-msg {
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    color: #95989af0;
 }

 .no-account-signup-link {
    text-decoration-line: none;
    color: lightskyblue;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    margin-top: 22px;
    margin-left: 5px;
 }

 .overall-form{
    //  align-items: center;
     border: 1px solid #ededee;
     //red
     border-radius: 3px; 
     width: 75%;
     height: 97%;
     background-color: white;

 }

 .login-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #34bf49;
    border-color: #34bf49;
    border-radius: 3px;
    height: 40px;
    width: 80%;
    color: white;
    margin-left: 35px;
 }

 .guest-login-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #3b5998;
    border-color: #3b5998;
    border-radius: 3px;
    height: 40px;
    width: 80%;
    color: white;
    margin-left: 35px;
 }


//SIGNUP SECTION
//-------------------------------------------------------------------------------------------------------
//SIGNUP SECTION
//    .signup-form-container {
// //    display: flex;
// //    justify-content: center;
// //    margin-top: 100px;
//     display: -webkit-inline-flex;
//     justify-content: center;
// //    margin-top: 100px;
// //    margin-right: 100px;
//     background: white; 
//    /* background-image: url("http://www.lovethispic.com/uploaded_images/spring_green_scenery.jpg"); */
//  }

 .signup-form-container {
    // height: 700px;
    // width: 100%;
    display: flex;
    justify-content: center;
    // background: #f5f6f7; 
    // align-items: center;
 }

 .signup-inner {
    height: 700px;
    width: 100%;
    // display: flex;
    justify-content: center;
    background: #f5f6f7; 
    align-items: center;
 }

  .signup-form-box {
    background-color: white;
    border: 1px solid #ededee;
    border-radius: 3px; 
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: 77px;
    margin-left: 525px; 
    width: 400px;
    height: 463px;
 }

 .signup-form {
    // margin-left: 100px;
 }

 .message-div {
    //  align-items: center;
     align-self: center;
 }

 .join-banner {
    text-align: center;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    color: #525558;
    font-size: 36px;
 }

 .join-message {
    text-align: center;
    font-size: 18px;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-weight: normal;
    color: #71767a;
    -webkit-font-smoothing: antialiased;
    width: 85%;
    margin-left: 30px;
 }

 .bottom-terms-conatiner {
    width: 400px;
    height: 100px;
    display: block;
    align-items: center;
    background-color: white;
    border: 1px solid #ededee;
    border-radius: 3px;
    margin-left: 525px;
 }

 .signup-input{
    border: 1px solid #e2e8ed;
    border-radius: 5px;
    height: 15px;
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
    width: 76.5%;
    margin-left: 35px;
 }

//  .signup-username-label {
 .signup-labels {
    font-size: 15px;
    font-style: bold;
    font-weight: normal;
    color: #767879f0;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    width: 80%;
    margin-left: 35px;
 }