.greeting-nav {
    //  border: 1px solid blue;
     border: 1px solid grey;
     width: 100%;
     height: 45px;
     display: flex; 
    //  border: 1px solid pink;
     justify-content: space-between;
     
    //  justify-content: space-between;
    //  padding: 10px;
    //  padding-right: 10px;
 }



.logo-image-div {
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-right: 700px; 
    // padding-bottom: 50px;
    // border: 1px solid red;
    width: 170px;
    height:100%;
}

.logo-image-div img {
    width: 120%;
    height: 100%;
}

.header-nav{
    margin-right: 60%;
    // border: 1px solid green;
    width:100px;
    height:100%;
    display: flex;
    justify-content: space-between;
}


// .image-logo-link {
//     border: 1px solid blue;
//     margin-left: 50px;
//     height: 100%;
//     width: 1000px;
//     // width: 100px;
//     // width: 30%;
//     // padding-bottom: 50px;
//     // padding-right: 50px;
// }


.discover-tag {
    display: flex;
    justify-content: flex-start;
    // justify-content: center;
    align-items: center;
    width: 170px;
    height:100%;
    font-display: bold;
    // text-decoration: none;
    // font-size: 15px;
    // font-weight: normal;
    // color: #767879f0;
    // text-rendering: optimizeLegibility;
    // font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    // margin-top: 30px;
}

.githubtaglink{
    text-decoration: none;
}

.discover-h2 {
    font-size: 13px;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-weight: normal;
    color: black;
    // color: #71767a;
    -webkit-font-smoothing: antialiased;
}

.dot-icon-display{
    margin-top: 10px;
    // margin-left: 8px;
    width: 25%;
    // height: 300%;
    // margin-right: 50%;
    cursor: not-allowed;

}
.dot-icon-display a{
    color: black;
    text-decoration: none;
}

.fa-ellipsis-h {
    font-size: 25px;
    font-weight: lighter;
}

.result-div {
    //result div is left div containing inner-result-div 
    display: flex; 
    justify-content: flex-end;
    // justify-content: space-between;
    width: 50%;
    // justify-content: flex-end;
}

.inner-result-div {
    // contains avatar and logout button
    display: flex; 
    justify-content: space-between;
}

.avatar {
    width: 40px;
    height: 100%;

}
.avatar-image {
    margin-top: 6px;
    width: 75%;
    height: 75%;
    border-radius: 35px;
//     margin-top: 2px;
//     width: 90%;
//     height: 90%;
}

.first-name-display {
    display: flex;
    text-align: center;
    margin-top: 13px;
    // margin-left: 7px;
    width: 40px;
    height: 45px;
    justify-content: center;
    cursor: not-allowed;
}

.plane-icon-display {
    margin-left: 8px;
}
.bell-icon-display {
    margin-left: 12px;
}

.fa-paper-plane {
    margin-top: 12px;
    font-size: 20px;
    cursor: not-allowed;
    // margin-top: 8px;
    // font-size: 30px;
}

.fa-bell {
    margin-top: 12px;
    font-size: 20px;
    cursor: not-allowed;
    // margin-top: 8px;
    // font-size: 30px;
}

.cloud-upload-icon-display {
    margin-left: 12px;
}

.header-upload-button {
    border:none;
    margin: 0 auto;
    padding: 0;
}

.fa-cloud-upload-alt {
    margin-top: 12px;
    font-size: 20px;
    // margin-top: 8px;
    // font-size: 30px;
    padding: none;
}

.fa-cloud-upload-alt:hover {
    color: grey;
}

.header-logout-button {
    text-align: start;
    // text-align: center;
    font-size: 13px;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-weight: normal;
    color: #71767a;
    -webkit-font-smoothing: antialiased;
    // margin-left: 10px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid white;
    height: 80%;
    width: 80px;
}


.nav-login-button {
    display: flex;
    justify-content: center;
    width: 83px;
    height: 100%;
    margin-right: 50px;
    border: none;
    padding-top: 10px;
    padding-right: 20px;
}

.nav-login-link {
     width: 150px;
    height: 100%;
    text-decoration-line: none;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-size: 15px;
    color: black;
    line-height: 5px;
    padding-left: 8px;
    padding-bottom: 8px;
}
  .nav-sign-up-button {
    display: flex;
    justify-content: center;
    width: 83px;
    height: 100%;
    background-color: #34bf49;
    margin-right: 50px;
    border: none;
    padding-top: 10px;
    padding-right: 20px;
 }

.nav-sign-up-link {
    width: 150px;
    height: 100%;
    text-decoration-line: none;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-size: 13px;
    color: white;
    line-height: 5px;
    padding-left: 8px;
    padding-bottom: 8px;
}


/* The Modal (background) */
.upload-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 45px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.upload-modal-content {
  background-color: #fefefe;
//   background-color: #6cc9f0;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
  height: 85%;
}

/* Close Button */
.close-button {
  color: #aaaaaa;
  float: left;
  font-size: 20px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
    // position: relative;
    // position: center;
}

.photo-upload-form-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}


.file-select-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70%;
}


.file-upload-container-label {
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    color: white;
    width: 25%;
    background-color: #0099e5;
    position: relative;
    border-radius: 3px;
    height: 10%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 30%;
    cursor: pointer;
    text-align: center;
    line-height: 3.95;
    // line-height: 1.95;
}
.file-upload-container-label:hover,
.file-upload-container-label:focus{
  color: darkcyan;
//   color: #000;
  text-decoration: bold;
  cursor: pointer;
}

.photo-upload-file{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
}


.photo-upload-form{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-title-label{
    text-align: center;
    color: grey;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    margin: 20px;
}

.photo-upload-title {
    border-radius: 3px;
    height: 30px;
    margin-bottom: 2%;
    width: 79%;
    margin-bottom: 10gpx; 
}

.photo-upload-location-format {
    // border: 1px solid red;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 2%;
    width: 79%;
    margin-bottom: 10px; 
}

.photo-upload-field-format {
    // border: 1px solid red;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 2%;
    width: 79%;
    margin-bottom: 10px; 
}
.photo-upload-date-format {
    // border: 1px solid red;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 2%;
    width: 79%;
    margin-bottom: 10px; 
}



.upload-photo-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #34bf49;
    border-color: #34bf49;
    border-radius: 3px;
    height: 40px;
    width: 80%;
    color: white;
    margin-bottom: 15px; 
    // margin-left: 35px;
 }

.upload-photo-button:hover,
.upload-photo-button:focus {
  color: grey;
//   color: #000;
  text-decoration: none;
  cursor: pointer;
 }