.app-photos-div{
    background-color: #e2e8ed;
    display: flex;
    margin: 0 auto;
    max-width: fit-content;
    overflow: scroll;
    align-items: center;
}

.photo-index-ul {
    height: 75%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: none;
    overflow: scroll;
}

.photos-index-div {
    overflow: scroll;
    display: flex;
    width: 50%;
    justify-content: center;
    // display: flex;
    // flex-direction: column;
}

.photos-index-item-div {
    display: flex;
    flex-direction: column;
}

.each-photo-ul {
    margin: 0 auto;
    padding: 0px;
    
}

.photo-title {
    margin: 10px;
    font-size: 20px;
    font-weight: normal;
    color: #3e474cf0;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    text-align: center;
    // margin-top: 30px;
}