
// .app-photos-div{
//     background-color: #e2e8ed;
//     display: flex;
//     margin: 0 auto;
//     max-width: fit-content;
//     overflow: scroll;
//     align-items: center;
//     width: 100%;
// }



.photos-index-div {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}


.photo-index-ul {
    padding-left: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(200px, auto);
}



.each-photo-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 5px;
}


//before grid
// .photos-index-item-div {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     max-width: 400px;
//     // width: 400px;
//     height: 100%;
//     align-items: center;
//     padding-bottom: 30px;
// }

.photos-index-item-div {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
}

.photos-index-item-div img {
    min-width:250px;
    height: 250px;
}

.photo-title {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #3e474cf0;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
}


.sub-header-no-photos {
    width:100%;
    height: 150px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    align-items: center;
    font-weight: bold;
    font-size:30px;
}
.sub-header{
    width:100%;
    height: 150px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 20px;
}
.sub-header h1{
    font-weight: bold;
    font-size:30px;
    padding-left: 30px;
    
}
.sub-header h2{
    color: gray;
    font-size: 20px;
    padding-left: 30px;
}

.main-index-content{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}