.photo-show-main-div {
    align-items: center;
    background-color: #222;
    height: 100%; 
    width: 100%;
}

.photo-show-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.image-div {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
    height: 500px;
}
.photo-show-image {
    height: 100%;
    object-fit: fill;
}


.show-page-photo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    color: black;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.show-page-photo-info-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    background-color: white;
    color: black;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.photo-show-title {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: bold;
    padding: 0.5%;
}

.photo-show-by{
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: rgb(34, 34, 34);
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.1s ease 0s;
    margin: 0;
    padding: 0;
    border: 0;
}

.photo-show-delete-button {
    margin-top: 10px;
    background-color: #e2e8ed;
    border: none;
    height: 5%;
    width: 5%;
}
.fa-trash-alt {
    color: #222;
    height: 15%;
    width: 15%;
}

.show-return-button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 10px;
}

.show-return-button button {
    font-family: HelveticaNeue, Helvetica, Arial, sansserif;
    width: 5%;
    height: 30px;
    border: none;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 30px;
    color: white;
    background-color: inherit;
}
.show-page-image-icons {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.show-page-dots{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.fa-heart {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.fa-heart:hover {
    font: lightseagreen;
}

.fa-plus-square {
    width: 40px;
    height: 40px;
    cursor: pointer;
}