.app-photos-div{
    background-color: #e2e8ed;
    display: flex;
    margin: 0 auto;
    max-width: fit-content;
    overflow: scroll;
    align-items: center;
}

.photo-index-ul {
    height: 75%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: none;
    overflow: scroll;
}

.photos-index-div {
    overflow: scroll;
    display: flex;
    width: 50%;
    justify-content: center;
    // display: flex;
    // flex-direction: column;
}

.photos-index-item-div {
    display: flex;
    flex-direction: column;
}

.each-photo-ul {
    margin: 0 auto;
    padding: 0px;
    
}