.photo-show-main-div {
    align-items: center;
    background-color: black;
    height: 100%;
}

.photo-show-content {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}

// .photo-show-image {
// }

.show-page-photo-title {
    color: white;
}
.photo-by-div{
    color: white;
}