// body {
//     // overflow: hidden;
//     // position: fixed;
// }

.splash-page-main-div {
    // border: 1px solid lime;
    // background-image: url('../../images/spring_green-scenery.jpg');
    //  background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2013/03/06/48505/669565cbcba6f46c2b88c5cd88433288.jpg');
    //  background-repeat: no-repeat;
    //  -webkit-background-size: cover;
    //  -moz-background-size: cover;
    //  -o-background-size: cover;
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    // height: 900px;
    //  background-size: 30%;
    //  background-position-y: 30%;

    // height: 2000px;
    // height: 100%;
    // width: 100%;
    // border: 3px solid red;
}

.header-section-div {
    // width:100%;
    min-width: 1020px;
    // height: 100%;
    // height: 650px;
    height: 100%;
    background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2013/03/06/48505/669565cbcba6f46c2b88c5cd88433288.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // background-position-y: 30%;
    // background-position-x: 30%;
    // border: 5px solid lawngreen;
}

.static-nav {
    display: flex;
    width:100%;
    height: 15%;
    // border: 1px solid blue;
}

.splash-page-link-button {
    width: 150px;
    height: 100%;
    background-color: transparent;
    // border: 1px solid purple;
    background-image: url('../images/365pxlogo.png');
    border: none;
}

.splash-page-link {
    width: 150px;
    height: 100%;
}

.splash-nav-log-sign-buttons{
    display: flex; 
    justify-content: flex-end;
    width: 100%;
}

.splash-page-login-button {
    width: 80px;
    height: 50%;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 15px;
    margin-right: 15px;
    border: none;
}

.splash-page-login-link {
    width: 150px;
    height: 100%;
    text-decoration-line: none;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    // font-style: bold; 
    font-size: 15px;
    color: white;
}

.splash-page-signup-button {
    width: 100px;
    height: 40%;
    background-color: #0099e5;
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 50px;
    border: none;
}

.splash-page-signup-link {
    width: 150px;
    height: 100%;
    text-decoration-line: none;
    color: white;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-style: bold; 
    font-size: 15px;
}

.splash-logo-image {
    padding-bottom: 25px;
    width: 100%;
}


.main-content{
    max-width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 0 auto;
    // border: 3px solid green;
}

.content{
    display: flex;
    flex-direction: column;
    color: white;
    // border: 3px solid white;
    width: 100%;
}

.splash-header {
    // width: 700px;
    font-size: 48px;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    width: 900px;
    color: #FFF;
}

.header-sec-desc {
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-weight: normal;
    color: #FFF;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
}
.signup-button-div {
    max-width: 960px;
    margin: 0 auto;
}

.splash-signup-link{
    text-decoration-line: none;
    color: white;
}

.splash-join-button{
    font-size: 18px;
    height: 50px;
    width:160px;
    background-color: #0099e5;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
}


.footer-container {
    position: relative;
    // bottom: 10px;
    height: 100px;
    // border: 1px solid pink;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-weight: normal;
    color: black;
    // color: #FFF;
    margin: 0 auto;
    // margin-top: 25px;
    text-align: center;
    // padding-bottom: 10px;
    // margin-bottom: 20px;
}

.footer-container > p {
    margin: 0;
    
}

.footer-div {
    //comment
    font-size: 16px;
    line-height: 20px;
    color: rgb(109, 115, 120);
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 16px;
    text-decoration: none;
    transition: color 0.1s ease 0s;
}